.radio_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendation_buttons .radio_tile{
    background-color: #555;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: all  400ms ease-in-out;
  }
  
  input:checked + .radio_tile {
    background-color: #FAF2F3;
    box-shadow: 0 0 12px #FAF2F3;
    height: 44px;
    width: 44px;
  }