.activity_board {
    height: 80vh;
    width: auto;
    border: 1px solid rgb(211, 211, 211);
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; 
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}