.activity_board {
    height: 100%;
    flex: 1;
    border: 1px solid rgb(211, 211, 211);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
}