.dailyRecWrapper {
    font-family: sans-serif;
    background-image: linear-gradient(#e2e2e2f5, #d0d0d0e4);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "col1 col2";
    width: 80%;
    height: auto;
    align-items: flex-start;
}

.info_column {
    grid-area: col1;
    display: grid;
    align-items: center;
    grid-template-areas:
      "image data"
      "healthcare healthcare";
}

.data_grid {
    grid-area: data;
    grid-template-areas:
      "row1"
      "row2";
}

.recommendation_column {
    grid-area: col2;
    display: grid;
    grid-template-areas:
      "title"
      "recommendation"
      "radio-buttons";
}
  
  .recommendation_title{
    grid-area: title;
    background-color: #FAF2F3;
    border-radius: 10px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
