.healthcare {
    grid-area: healthcare;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #FAF2F3;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px;
}