.day_date_temp_hum {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dataBox {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.5rem 0.75rem; 
  border-radius: 8px; 
  background-color: rgba(0, 0, 0, 0.2); 
  text-align: center;
  white-space: nowrap; 
}

