.weekday_selector {
    display: flex;
    gap: 8px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    background-image: linear-gradient(#e2e2e2f5, #d0d0d0e4);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 81.3%;
    justify-content: center;
}